	RewriteEngine on
	RewriteCond {{ vhost_directory }}/htdocs/%{REQUEST_URI} !-f
	RewriteRule ^/(.*\.php(/.*)?)$ - [R=404,L]
	ProxyPassMatch ^/(.*\.php(/.*)?)$ fcgi://127.0.0.1:9000{{ vhost_directory }}/htdocs
