	RewriteEngine on
	ProxyTimeout 21600
	<Proxy "unix:{{ php_fpm_socket }}|fcgi://php-fpm-{{ vhost_user }}">
        # we must declare a (any) parameter in here 
        # or it won't register the proxy ahead of time
        ProxySet disablereuse=off
    </Proxy>
    <FilesMatch ".+\.php$">
        SetHandler proxy:fcgi://php-fpm-{{ vhost_user }}
    </FilesMatch>