	RewriteEngine on
	RewriteCond {{ vhost_directory }}/htdocs/%{REQUEST_URI} !-f
	RewriteRule ^/(.*\.php(/.*)?)$ - [R=404,L]
	ProxyTimeout 21600
	ProxyPassMatch ^/(.*\.php(/.*)?)$ fcgi://127.0.0.1:{{ php_fpm_port }}{{ vhost_directory }}/htdocs/$1
