<VirtualHost *:80>
{% if vhost_ssl_only %}
{% include "redirect_https_conf_include.j2" %}
{% else %}
{% include "basic_conf_include.j2" %}
{% endif %}

</VirtualHost>

<VirtualHost *:443>
{% include "basic_conf_include.j2" %}

	SSLEngine on
	SSLCertificateFile /etc/ssl/certs/ssl-cert-snakeoil.pem
	SSLCertificateKeyFile /etc/ssl/private/ssl-cert-snakeoil.key
</VirtualHost>

