<VirtualHost *:80>
{% include "basic_conf_include.j2" %}

</VirtualHost>

<VirtualHost *:443>
{% include "basic_conf_include.j2" %}

	SSLEngine on
	SSLCertificateFile /etc/ssl/certs/ssl-cert-snakeoil.pem
	SSLCertificateKeyFile /etc/ssl/private/ssl-cert-snakeoil.key
</VirtualHost>

