<VirtualHost *:80>
	ServerName {{ vhost_domain }}

	<Directory {{ htdocs }}>
		Require all granted
		Options -Index
		AllowOverride all
	</Directory>

	LogLevel warn
	ErrorLog {{ vhost_directory }}/logs/error.log
	CustomLog {{ vhost_directory }}/logs/access.log combined
</VirtualHost>

<VirtualHost *:443>
	ServerName {{ vhost_domain }}

	<Directory {{ htdocs }}>
		Require all granted
		Options -Index
		AllowOverride all
	</Directory>

	LogLevel warn
	ErrorLog {{ vhost_directory }}/logs/error.log
	CustomLog {{ vhost_directory }}/logs/access.log combined

	SSLEngine on
</VirtualHost>

